<div class="container">
    <h1 class="heading"><strong>Component 1 Service</strong></h1>
    <!-- <input type="text" ><br><br> -->
    <app-child> <strong>Senior Developer</strong></app-child>
    <app-child> <strong>junior Developer</strong></app-child>

    <button type="button" (click)="getProducts()">Get Products</button>
 
     <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products;">
                        <td>{{product.productID}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.productQuantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
 
</div>
 
